<!DOCTYPE html><html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <body ng-app="myArticle">
        <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LouBlog</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/post">post</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(user) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <%=user.username%>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">账户信息</a></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
                <%} else {%>
                <ul class="nav navbar-nav">
                    <li><a href="/login">login</a></li>
                    <li><a href="/req">register</a></li>
                </ul>
                 <% } %>
            </ul>
            <form class="navbar-form navbar-right" role="search" action='/search' method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="title">
                </div>
                <button type="submit" class="btn btn-default">search</button>
            </form>
        </div>
    </div>
    </nav>
        <div id="container">
          <h2>
           <%if(success){ %>
            <%=success %>

           <% } %>
           <%if(error){ %>
            <%=error %>

           <% } %>

        </h2>